$firstColorGradient: #1b6ca7;
$secondColorGradient: #442bdb;
$thirdColorGradient: #b922b3;
$fourthColorGradient: #9c791d;

$primaryButtonBackground: #4F2AC3;

$globalTextColor: #ffffff;
$textColorBlack: #000000;